<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment::head">

</head>
<body>
<header th:replace="fragments/fragment::Navbar">
</header>
<main class="p-5 align-content-center bg-blur my-main">

    <h2 th:if="${copies} == null" class="text-light border-bottom">There is no albums yet, you can add one.</h2>

    <h2 th:unless="${copies} == null" class="text-light border-bottom" th:text="|Total sold copies of all albums: ${copies}|"></h2>
    <div class="row">
        <div class="col-md-3" th:each="album : ${viewModelsOrdered}" th:object="${album}">
            <div class="card mb-4 box-shadow">
                <img th:src="*{imgUrl}" class="card-img-top" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p class="card-text border-bottom" th:text="|Name: *{name}|"></p>
                        <p class="card-text border-bottom" th:text="|Artist: *{artist}|"></p>
                        <p class="card-text border-bottom" th:text="|Genre: *{genre}|"></p>
                        <p class="card-text border-bottom" th:text="|Price: *{price}|"></p>
                        <p class="card-text border-bottom" th:text="|Release Date: *{releasedDate}|"> </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary"
                               th:href="@{/album/delete/{id}(id = *{id})}">Delete</a>
                        </div>
                        <small th:unless="${copies} == null" class="text-muted" th:text="|*{copies} copies|"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment::footer">
</body>
</html>
